.App {
  max-width: 800px;
  margin: auto;
}

.App p  {
  font-size: 1.15rem;
  line-height: 2rem;
  word-spacing: 0.22rem;
  text-align: justify;
}

.App h1 {
  font-size: 3rem;
}

.App h2 {
  font-size: 2rem;
  margin-top: 1.5em;
}

.App a {
  text-decoration: none;
  color: #cc6666;
}

.App a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .App ul {
    margin-left: 0.5em;
    padding-left: 0.5em;
  }

  .App h1 {
    font-size: 2.2rem;
  }

  .App h2 {
    margin-top: 2rem;
  }
}
