a.button {
  display: inline-block;
  -webkit-text-fill-color: unset;
  color: unset;
  background: var(--button-bg-color);
  border-radius: 0.7em;
  padding: 0 1em;
  line-height: 2.5rem;
  font-weight: 650;
  font-size: 0.95em;
  background-clip: none;
  -webkit-background-clip: none;
  text-decoration: none;
  text-align: center;
  color: var(--button-font-color);
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

a.button:hover {
  background: #cc6666;
  color: white;
  text-decoration: none;
  -webkit-text-fill-color: white;
  text-decoration: none;
}

:root {
  --button-bg-color: #f0e6e7;
  --button-font-color: black;
}

[data-theme='dark'] {
  --button-bg-color: white;
  --button-font-color: black;
}
