header a.button {
  display: inline-block;
  -webkit-text-fill-color: unset;
  color: unset;
  background: var(--button-bg-color);
  border-radius: 0.7em;
  padding: 0 1em;
  line-height: 2.5rem;
  font-weight: 650;
  font-size: 0.85em;
  background-clip: none;
  -webkit-background-clip: none;
  text-decoration: none;
  max-width: 7em;
  text-align: center;
  color: var(--button-font-color);
}

header a.button:hover {
  background: #cc6666;
  color: white;
  text-decoration: none;
  -webkit-text-fill-color: white;
  text-decoration: none;
}

header .grid {
  display: grid;
  grid-template-columns: 80% 20%;
}

@media screen and (max-width: 500px) {
  header .grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

:root {
  --button-bg-color: #f0e6e7;
  --button-font-color: black;
}

[data-theme='dark'] {
  --button-bg-color: white;
  --button-font-color: black;
}
