body {
  font-family: georgia, times, serif;
  background-color: white;
  color: black;
  padding: 0em;
}

span[role='img'] {
  display: none !important;
}

.print-hide {
  display: none !important;
}

.print-display {
  display: unset !important;
}

h1[print-content],
h2[print-content],
h3[print-content] {
  visibility: hidden;
  text-indent: -9999px;
  line-height: 0;
}

h1[print-content]:after,
h2[print-content]:after,
h3[print-content]:after{
  content: attr(print-content);
  visibility: visible;
  text-indent: 0;
  display: block;
  line-height: initial;
}

a[href^='http']::after {
  content: ' (' attr(href) ')';
  font-size: 0.8em;
}
