body {
  font-family: georgia, times, serif;
  background-color: white;
  color: black;
  padding-top: 0px;
  display: block;
}

span[role='img'] {
  display: none !important;
}

.print-hide {
  display: none !important;
}

.print-display {
  display: unset !important;
}

section,
header {
  border-bottom: 0.2px solid #001000;
}

h1[data-print],
h2[data-print],
h3[data-print] {
  visibility: hidden;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1.6em;
  text-align: center;
}

h1[data-print]:after,
h2[data-print]:after,
h3[data-print]:after {
  content: attr(data-print);
  visibility: visible;
  text-indent: 0;
  display: block;
  line-height: initial;
}

a[href^='http']::after {
  content: ' (' attr(href) ')';
  font-size: 0.8em;
}
