:root {
  --button-bg-color: #f0e6e7;
  --button-font-color: black;
  --bg-color: white;
  --font-color: black;
}

[data-theme='dark'] {
  --button-bg-color: white;
  --button-font-color: black;
  --bg-color: #282c34;
  --font-color: white;
}