.App .theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.App .theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.App .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.App .theme-switch input {
  display: none;
}

.App .slider {
  background-color: #f0e6e7;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.App .theme-switch .slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.App .theme-switch input:checked + .slider {
  background-color: #66bb6a;
}

.App .theme-switch input:checked + .slider:before {
  transform: translateX(25px);
}

.App .theme-switch .slider.round {
  border-radius: 2em;
}

.App .theme-switch .slider.round:before {
  border-radius: 50%;
}
