.App {
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  padding-top: 4rem;
  font-size: calc(0.4em + 2vmin);
}

h2 {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: #cc6666;
}

p {
  text-align: justify;
}

a:hover {
  text-decoration: underline;
}

ul li {
  padding-bottom: 0.3em;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: calc(2.2em + 2vmin);
  }
}

@media screen and (max-width: 800px) {
  .App {
    padding-top: 1rem;
  }
}