@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    body {
        @apply transition-all ease-in duration-300;
        @apply dark:bg-[url('/assets/bg-dark.webp')];
        @apply bg-[url('/assets/bg-light.webp')];
        @apply bg-no-repeat;
        @apply bg-cover;
        @apply bg-center;
        @apply bg-fixed;
        @apply min-h-screen relative;
        @apply overflow-y-scroll;
        scrollbar-color: #6969dd #e0e0e0;
        scrollbar-width: thin;
        font-family: ubuntu;
    }

    h1, h2, h3, span {
        @apply text-black dark:text-white;
    }

    kbd {
      font-family: monospace;
    }
    
    ::-webkit-scrollbar {
        @apply w-2;
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-zinc-500;
    }
}

@layer utilities {
    .border-tiny-black {
        border-color: rgb(0,0,0,0.15);
        @apply border-[1px];
    }
    .border-tiny-white {
        border-color: rgb(255,255,255,0.15);
        @apply border-[1px];
    }

    .dark-gradient {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
    }
    .white-gradient {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    }
}

@layer components {
    .navbar-selected-bg-size {
		background-size: 100% 3px !important;
		background-position: 0 100% !important;
    }
    .navbar-deselected-bg-size {
		background-size: 0 3px !important;
		background-position: 0 100% !important;
    }
	.navbar-hover-underline {
        @apply border-b-0 bg-no-repeat dark:white-gradient dark-gradient duration-300 navbar-deselected-bg-size;
	}
	.navbar-hover-underline:hover {
        @apply dark:text-white text-black navbar-selected-bg-size;
	}

    .timeline-date {
        @apply px-4 font-bold text-red-700 !important;
    }
    .timeline-icon {
        @apply bg-gray-800 dark:bg-gray-300 text-white dark:text-black transition-all ease-in duration-300 !important;
    }
    .timeline-text {
        @apply rounded-lg bg-gray-800 dark:bg-gray-300 text-white dark:text-black transition-all ease-in duration-300 !important;
    }
}
