@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./navBar.css');
@import url('./timeline.css');
@import url('./kbar.css');
@import url('./projects.css');

@layer base {
    body {
        @apply transition-all ease-in duration-300;
        @apply dark:bg-[url('/assets/bg-dark.png')];
        @apply bg-[url('/assets/bg-light.png')];
        @apply bg-no-repeat;
        @apply bg-cover;
        @apply bg-center;
        @apply bg-fixed;
        @apply min-h-screen relative;
        @apply overflow-y-scroll;
        scrollbar-color: #6969dd #e0e0e0;
        scrollbar-width: thin;
    }

    h1, h2, h3, span {
        @apply text-black dark:text-white;
    }

    kbd {
      font-family: monospace;
    }
    
    ::-webkit-scrollbar {
        @apply w-2;
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-zinc-500;
    }
}